<div class="m-HeaderSecondary">
	<div class="m-HeaderSecondary__container" data-aos="fade-left">
		<div class="m-HeaderSecondary__container-left">
			<a href="/">
				<img src="{{theme.link}}/static/img/logo_black.svg" width="211" height="47" alt="Strattic" class="m-HeaderSecondary__logo"/>
			</a>

			<div class="m-HeaderSecondary__rectangle"></div>

			<ul class="m-HeaderSecondary__menu -desktop">
				{% for item in nav.primary.items %}
					<li class="m-HeaderSecondary__item">
						{% if item.children %}
							{% include "modules/Button/Button.module.twig" with {
									type: "link",
									color: "black",
									link: item.link,
									text: item.title,
									drop: true
								}%}
							<ul class="m-HeaderSecondary__drop">
								{% for child in item.children %}
									<li class="m-HeaderSecondary__childItem">
										{% include "modules/Button/Button.module.twig" with {
												type: "link",
												color: "black",
												link: child.link,
												text: child.title
											}%}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							{% include "modules/Button/Button.module.twig" with {
									type: "link",
									color: "black",
									link: item.link,
									text: item.title
								}%}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="m-HeaderSecondary__container-right">
			<a class="m-HeaderSecondary__link m-HeaderSecondary__link--black" href="#">Login</a>
			<a class="m-HeaderSecondary__link m-HeaderSecondary__link--red" href="#">Get started</a>
			<div class="m-HeaderSecondary__menu -mobile">
				{% include "modules/BurgerMenu/BurgerMenu.module.twig" with {
						stickColor: "white"
					}%}
			</div>
		</div>

	</div>
</div>
