<div class="m-Search">
	<div class="m-Search__input">
        <img src="{{theme.link}}/static/img/zoom.svg" width="18" height="18" alt="zoom" class="m-Search__input-searchIcon">
		<input class="m-Search__input-text" type="text" name="search" placeholder="Search for What you need">
	</div>

	<button class="m-Search__button">Search</button>
</div>
