<style>
	.b-Title {
		background-image: url({{fields.background.url}});
	}
</style>
<div class="b-Title">
	<div class="b-Title__title">
		<div class="b-Title__title-text">
			<div class="b-Title__title-text-big">{{fields.bigtext}}</div>
			<div class="b-Title__title-text-small">{{fields.smalltext}}</div>
		</div>
	</div>
</div>
