<div class="b-Video">
	<div class="b-Video__video">
		<iframe width="994" height="800.27" src="{{fields.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	</div>
</div>
