<div class="m-BurgerMenu">
	<img src="{{theme.link}}/static/img/burger-menu-open.svg" width="42" height="42" alt="Open menu" class="m-BurgerMenu__open">
	<div class="m-BurgerMenu__slide">
		<div class="m-BurgerMenu__top">
			<a href="/Tradedoubter-PVN">
				<img src="{{theme.link}}/static/img/logo_black.svg" width="120" height="33" alt="Tradedoubter PVN" class="m-BurgerMenu__logo"/>
			</a>
			<img src="{{theme.link}}/static/img/burger-menu-close.svg" width="42" height="42" alt="Close menu" class="m-BurgerMenu__close">
		</div>
		<div class="m-BurgerMenu__container">
			<ul class="m-BurgerMenu__menu">
				{% for item in nav.burger.items %}
					<li class="m-BurgerMenu__item">
						{% if item.children %}
							{% include "modules/Button/Button.module.twig" with {
								type: "link",
								color: "black",
								link: item.link,
								text: item.title,
								drop: true
							}%}
							<ul class="m-BurgerMenu__drop">
								{% for child in item.children %}
									<li class="m-BurgerMenu__childItem">
										{% include "modules/Button/Button.module.twig" with {
											type: "link",
											color: "black",
											link: child.link,
											text: child.title
										}%}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							{% include "modules/Button/Button.module.twig" with {
								type: "link",
								color: "black",
								link: item.link,
								text: item.title
							}%}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
			<div class="m-BurgerMenu__login">
				<a class="m-BurgerMenu__login-link" href="#">Login</a>
				<a class="m-BurgerMenu__login-link m-BurgerMenu__login-link--red" href="#">Try for free</a>
			</div>
		</div>
	</div>
</div>
