<div class="m-FeaturesCard">
	<div class="m-FeaturesCard__icon">
		<img class="m-FeaturesCard__icon-image" src="{{icon}}" width="24" height="24" alt="ilustration">
	</div>
	<div class="m-FeaturesCard__content">
		<div class="m-FeaturesCard__content-type">{{type}}</div>
		<div class="m-FeaturesCard__content-title">{{title}}</div>
		<div class="m-FeaturesCard__content-text">{{text}}</div>
	</div>
</div>
