<section class="b-LearnMore">
	{% if fields.title or fields.subtitle %}
		<div class="b-LearnMore__title">
			{{fields.title}}
			{% if fields.subtitle %}
				<div class="b-LearnMore__title-subtitle">{{fields.subtitle}}</div>
			{% endif %}
		</div>
	{% endif %}

	{% if fields.cards %}
		<div class="b-LearnMore__cards">
			{% for item in fields.cards %}
				{% include "modules/LearnMoreCard/LearnMoreCard.module.twig" with {
					icon: item.icon,
					bigtext: item.bigtext,
					smalltext: item.smalltext,
					link: item.link,
				}%}
			{% endfor %}
		</div>
	{% endif %}
</section>
